* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4c0f91, #16572c);
    color: #cfd3d2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.calculator h1 {
    font-size: 50px;
}

.calculator h1 span {
    color: #3cb673;
}

.input-box {
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(139, 21, 21, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; /* Added cursor for the input box */
}

.input-box input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    cursor: pointer; /* Added cursor for the input field */
}

.input-box button {
    background: #327c64;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #110303;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer; /* Added cursor for the calendar icon */
}

#result {
    font-size: 30px;
}

#result span {
    color: #f0ebeb;
}
